/* #container{
    margin:auto;
    width:50%;
    text-align: center;
}
#image-box{
    width:100%;

}
#image-box input[type="radio"]{
    width:60px;
    height:60px;
    display:inline-block;
    border:1px solid green;
    outline: none;
    appearance: none;
    cursor:pointer;
    box-shadow: 0 0 2px;
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;

}
#image-box input[type="radio"]:hover{
    transform:scale(1.1);
    box-shadow:0 0 5px;

}
#img1{
    background-image: url(img/david-marcu-78A265wPiO4-unsplash.jpg);
    background-size: cover;

}
#img2{
    background-image: url("https://img.shop.com/Image/270000/278100/278132/products/1921791551__800x800__.jpg");
    background-size: cover;

}#img3{
    background-image: url(img/1.jpg);
    background-size: cover;

}

.image-bg{
    width:100%;
    height:300px;
    margin-top: 10px;
    border:1px solid green;
    box-shadow: 0 0 5px grey;
}
#img1:checked~ .image-bg{
    background-image:url() ;
    background-size: cover;
}

#img2:checked~ .image-bg{
    background-image:url() ;
    background-size: cover;
}
#img3:checked~ .image-bg{
    background-image:url() ;
    background-size: cover;
} */

body{
    background-color:white;
  
  }
  * {
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      margin: 0px;
      padding: 0px;
      
    }
  
    /* //small image */
    #smallimg img{
     display:grid;
     /* border:1px solid grey; */
     width:100%;
  
    }
     #smallimg{
           width:25%; 
           /* border:1px solid teal; */
           height: 70%;
          
        }
  
    #largeimg img{
     display:grid;
     /* border:10px solid grey; */
     width:100%;
  
    }
            #detail{
                /* height:1000px; */
                width:100%;
                border:1px solid green;
            }
         #detail_one{
            height:800px;
            width:98%;
            /* border:5px solid red; */
            text-align: center;
            margin:auto;
            
         }
         #detail_two{
            display: grid;
            grid-template-columns:repeat(5,1fr);
            justify-content: space-between;
            /* height:35%; */
            width:98%;
            /* border:5px solid blue; */
            text-align: center;
            justify-content: center;
            margin:auto;
            gap:40px;
            margin-bottom:70px;
            
         }
         #detail_two>div{
            display:grid;
          text-align: center;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border:1px solid rgb(179, 178, 178); */
          border-radius:5px;
         color:rgb(87, 87, 87);
            
         }
        
         #detail_three{
            /* height:30%; */
            width:98%;
            border:5px solid blue;
            text-align: center;
            margin:auto;
            
         }
         #btn1{
            
            width:50%;
            height:50px;
            border:none;
         }
         #btn1:hover{
          background-color:greenyellow;
         }
         /* //third */
         #detail_th{
          display:block;
  
         }
  
  /* product */
  #detail_one>div{
      /* background-color: aliceblue; */
      gap:40px;
   }
   #detail_one{
      display:flex;
      /* background-color: aliceblue; */
      
      gap:40px;
  
   }
   #detail_{
      /* background-color:red; */
  /* background-color: #ecedf3; */
  
      width:46%;
      height:800px;
   }
   #detail_o{
      /* background-color:yellow; */
  /* background-color: #ecedf3; */
  border:1px solid grey;
  
      width:40%;
      height:800px;
   }
   #detail_on{
      display:grid;
      grid-template-rows: repeat(12,1fr);
      /* background-color:teal; */
      /* background-color: #ecedf3; */
  
      width:10%;
      padding-top: -50px;
      /* height:fixed; */
      
   }
  
  
  
   
   h1{
      text-align: center;
      margin:auto;
      margin-bottom: 30px;
      /* border:1px solid #ecedf3 ; */
   }
   #detail_on>p{
      padding-bottom:-10px;
  
  
   }
   
   /* 3rdone */
   #detail_on>img{
      display:grid;
      grid-template-rows: repeat(12,1fr);
  
      width:32%;
      margin:auto;
      border-radius: 50%;
      /* border:1px solid red; */
      
      margin-bottom: -20px;
   
   
      
   }
   
   #detail_th{
      /* border:10px solid green; */
     display:grid;
     justify-content: left;
     text-align: left;
     gap:10px;
     /* margin:auto; */
   }
  
  /* //large img */
   
  #lagreimg{
     width:72%; 
     /* border:1px solid teal; */
     height:90%;
     margin:auto;
     margin-top:0px;
     
  }
  #detail_{
     /* border:1px solid pink; */
     display:flex;
  }
  .btn>button{
    display:flex;
   border: 0;
   width: 170px;
   padding: 16px 14px;
   background: #abc72c;
   cursor: pointer;
   font-size: .77778rem;
   font-weight: 600;
   text-align:center ;
   margin:auto;
   justify-content:center ;
   color: #000;
   /* margin:auto;  */
   
   /* border:1px solid blue; */
 }