body{
   background-color:white;
 
 }
 * {
     font-family: "Poppins", sans-serif;
     font-weight: bold;
     margin: 0px;
     padding: 0px;
     
   }
 
   /* //small image */
   #smallimg img{
    display:grid;
    /* border:1px solid grey; */
    width:100%;
 
   }
    #smallimg{
          width:25%; 
          /* border:1px solid teal; */
          height: 70%;
         
       }
 
   #largeimg img{
    display:grid;
    /* border:10px solid grey; */
    width:100%;
 
   }
           #detail{
               /* height:1000px; */
               width:100%;
               border:1px solid green;
           }
        #detail_one{
           height:800px;
           width:98%;
           /* border:5px solid red; */
           text-align: center;
           margin:auto;
           
        }
        #detail_two{
           display: grid;
           grid-template-columns:repeat(5,1fr);
           justify-content: space-between;
           /* height:35%; */
           width:98%;
           /* border:5px solid blue; */
           text-align: center;
           justify-content: center;
           margin:auto;
           gap:40px;
           margin-bottom:70px;
           
        }
        #detail_two>div{
           display:grid;
         text-align: center;
         box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   /* border:1px solid rgb(179, 178, 178); */
         border-radius:5px;
        color:rgb(87, 87, 87);
           
        }
       
        #detail_three{
           /* height:30%; */
           width:98%;
           /* border:5px solid blue; */
           text-align: center;
           margin:auto;
           
        }
        #btn1{
           
           width:50%;
           height:50px;
           border:none;
        }
        #btn1:hover{
         background-color:greenyellow;
        }
        /* //third */
        #detail_th{
         display:block;
 
        }
 
 /* product */
 #detail_one>div{
     /* background-color: aliceblue; */
     gap:40px;
  }
  #detail_one{
     display:flex;
     /* background-color: aliceblue; */
     
     gap:40px;
 
  }
  #detail_{
     /* background-color:red; */
 /* background-color: #ecedf3; */
 
     width:46%;
     height:800px;
  }
  #detail_o{
     /* background-color:yellow; */
 /* background-color: #ecedf3; */
 border:1px solid grey;
 
     width:40%;
     height:800px;
  }
  #detail_on{
     display:grid;
     grid-template-rows: repeat(12,1fr);
     /* background-color:teal; */
     /* background-color: #ecedf3; */
 
     width:10%;
     padding-top: -50px;
     /* height:fixed; */
     
  }
 
 h1{
     text-align: center;
     margin:auto;
     margin-bottom: 30px;
     color:rgb(95, 94, 94);
     /* border:1px solid #ecedf3 ; */
  }
  #detail_on>p{
     padding-bottom:-10px;
 
 
  }
  
  /* 3rdone */
  #detail_on>img{
     display:grid;
     grid-template-rows: repeat(12,1fr);
     cursor:pointer;
     width:32%;
     margin:auto;
     border-radius: 50%;
     border:1px solid rgb(180, 178, 178);
     margin-bottom: -20px;
  }
  #detail_on>img:hover{
   background-color: #abc72c;
   /* border:1px solid red; */

  }
  
  #detail_th{
     /* border:10px solid green; */
    display:grid;
    justify-content: left;
    text-align: left;
    gap:10px;
    /* margin:auto; */
  }
 
 /* //large img */
  
 #lagreimg{
    width:72%; 
    /* border:1px solid teal; */
    height:90%;
    margin:auto;
    margin-top:0px;
    
 }
 #detail_{
    /* border:1px solid pink; */
    display:flex;
 }
 .btn>button{
   display:flex;
   width: 170px;
   border:none;
   background: #abc72c; 
   cursor:pointer;
   /* rder:1px solid blue;  */
}
.btn{
   display:flex;
   justify-content:flex-end;
}
#smallimg:hover{
   background-color: rgb(255, 127, 191);

}

#lagreimg{
   width:72%; 
   border:1px solid teal;
   height:90%;
   margin:auto;
   margin-bottom:40px;
   
}
#detail_{
   border:1px solid pink;
   display:flex;
}



  