*{
    padding: 0%;
    margin: 0%;
}
p{
padding: 15px 0px;

}

#r{
    margin-top: 60px;
    background-color: #f0f1f7;
}
.dd, .ff{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #545871;
    color: #fff;
    flex-wrap: wrap;
    border-bottom: 1px solid #939394;
}
.dd>div{
    margin: 10px 15px 10px 15px;
    font-size: 13px;
}
.ee{
    color: #fff;
}

.dd>div>input{
    margin-left: 15px;
    border-radius: 2px;
    border: none;
    font-size: 12px;
    width: 40ex;
    margin-top: 0;
    height: 25px;
    background-color: #fff;
    color: #202340;
}
.dd>div>button{
    margin-left: -10px;
    border-radius: 0 2px 2px 0;
    height: 25px;
    min-height: 0;
    border: none;
    background-color: #f0f1f7;
    color: #2e2c38;
    cursor: pointer;
    margin-bottom: -5px;
    padding-left: 5px;
    padding-right: 5px;
}
.dd>div>button:hover{
   
    background-color: rgb(59, 59, 59);
    color: #fff;
}
.ff{
    margin-bottom: 10px;
}
.ff>div{
    margin: 10px 15px 5px 15px;
    display: flex;
    flex-wrap: wrap;
}
.ff>div>div{
    border-right: 1px solid #6C6D70;
    padding: 0px 5px 0px 5px;
    font-size: .75rem;
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}
.ff>div>img{
    width: 25px;
    margin: 5px;
}
.gg{
    margin-left: 10px;
    border-bottom: 2px solid #f0f1f7;
    border-bottom: 2px solid #d6d6d8;
}
.gg>a{
    color: #2E2C38;
    font-size: .75rem;
}
.gg>p{
    font-size: .6875rem;
    line-height: 10px;
    line-height: 20px;
}
.hh{
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hh>img{
    width: 75px;
    height: 70px;
    margin: 20px 5px;
}
.hh>img:nth-child(7),.hh>img:nth-child(8),.hh>img:nth-child(9){
    width: 100px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  .categorie{
    height: 40px;
    width: 230px;
    font-size: 20px;
    cursor: pointer;
  }
  .categorie>option{
   height: 100px;
   cursor: pointer;
  
  }
