#g{display: grid;
    height: 400px;
    width: 100%;
    /* border: 1px solid; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.g{
    height: 60px;
    width: 100%;
    /* border: 1px solid; */
    text-align: center;
    color: #545871;
   
}
.g a:hover{
    color: black;
    
}
#h{
    margin-top: 10px;
    height: 450px;
    width: 100%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
}
.h>img{
    width: 100%;
}
#h>div{
    /* border: 1px solid; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    margin-left: 10px;
}
#h img{
    height: 350px;
    width: 350px;
    cursor: pointer;
}
#h h2,a{
    padding-left: 10px;
    color:  #545871;
}
#i{
    height: 550px;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    gap: 20px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#i>.i{
    height: 500px;
    width: 420px;
    /* border: 1px solid; */
}
.i>img{
    margin-top: 80px;
    height: 420px;
    width: 420px;}
.j{
        height: 500px;
        width: 100%;
        /* border: 1px solid; */
        display: grid;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        
}
.j>.k{
    height: 100px;
    width: 100%;
    /* border: 1px solid; */
    text-align: center;
}
.j>.l{
    height: 150px;
    width: 100%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,1fr);
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.j>.l>div{
    /* border: 1px solid; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.j>.l img{
    height: 130px;
   width: 120px;

}
.j>.m{
    height: 240px;
    width: 100%;
    /* border: 1px solid; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.j>.m{
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 20px;

}

.j>.m img{
    width: 90%;
    height: 230px;
}
#j{
    cursor: pointer;
    height: 550px;
    width: 100%;
    /* border: 1px solid; */
}
#j>.n{
    /* border: 1px solid; */
    height: 100px;
    color: #2e2c38;
}
#j>.o{
    height:450px;
    width: 100%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
}
#j>.o>div{
    /* border: 1px solid; */
    line-height: 05px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 15px;
}
#j>.o img{
    height: 250px;
    width: 100%;
    margin-bottom: 60px;
}
#j>.o p{
    color: #48a2b4;
}

#kk{
    cursor: pointer;
    margin-top: 30px;
    height: 400px;
    width: 100%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#kk>div{
    /* border: 1px solid; */
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#kk img{
    height: 300px;
    width: 100%;
}
#l{
    cursor: pointer;
    height: 550px;
    width: 100%;
    /* border: 1px solid; */
}
.p{
    height: 80px;
    width: 100%;
    /* border: 1px solid; */
}
.p>h1{
    color: #2e2c38;
}
.q{
    margin-top: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    padding-left: 30px;
}
.q>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-left: 20px;
}
.q>.t>img{
    height: 460px;
}
.q p{
    color: #48a2b4;
}
#m{
    cursor: pointer;
    margin-top: 20px;
    height: 400px;
    width: 100%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}#m>div>img{
    margin-left: 40px;
    margin-top: 10px;
    height:330px;
    width: 400px;
}
#m>div{
    align-items: center;
    text-align: center;
}

#n{
    cursor: pointer;
    margin-top: 15px;
    height: 550px;
    width: 100%;
    /* border: 1px solid; */
    gap: 30px;
}
.u{
    height: 70px;
    width: 100%;
    /* border: 1px solid; */
    padding-left: 20px;
}
.v{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
 
}
.v>.w>img{
    height: 450px;
    width: 500px;
}
.v>div{
    box-shadow: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;
}
.v>img{
    margin-left: 50px;
}
.v p{
    color: #48a2b4;
}
.v>div{
    padding-left: 30px;
}
#o{
    cursor: pointer;
    margin-top: 10px;
    height: 380px;
    width: 100%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#o img{
    margin-top: 5px;
    height: 300px;
}
#o div{
    text-align: center;
}
#ppp{
    cursor: pointer;
    margin-top: 10px;
    height: 400px;
    width: 100%;
    /* border: 1px solid; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.x{
    height:70px;
    width: 100%;
    /* border: 1px solid; */
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    color: #2f2d39;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.y{
    height: 300px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 30px;
    align-items: center;
}
#ppp>.y>div{
    cursor: pointer;
    /* border: 1px solid; */
    text-align: center;
 
}
#ppp>.y img{
    width: 200px;
}
#q{
    margin-top: 10px;
    height: 600px;
    width: 100%;
    /* border: 1px solid; */
    align-items: center;
}

.aa{
    height: 100px;
    width: 100%;
    /* border: 1px solid; */
    text-align: center;
}
.bb{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
}
.bb>div{
    height: 500px;
    /* border: 1px solid; */
    margin-left: 20px;
    padding-left: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#q .cc>img{
    cursor: pointer;
    height: 450px;   
}
.bb p{
    color: #48a2b4;
}
#u img{
    cursor: pointer;
    height: 400px;
width: 100%;}