

#my{
    width: 60%;
    height: auto;
    /* border: 1px solid rgb(19, 92, 2); */
    margin: auto;
    margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
#my>h1{
     color: green;
    font-size: 25px;
    margin-bottom: 20px;
    
    
}
#my>.head{
    color: red;
    
}
h3{
    font-weight: lighter;
    margin-bottom: 20px;
}
h4{
    font-weight: none;
    font-weight: lighter;
    margin-bottom: 20px;
}
hr{
    width:96%;
    text-align:left;
    margin-left:0;
    margin-top: 30px;
    margin-bottom: 30px; 
}
.frst{
    text-align: justify;
    font-size: 14px;
    margin-bottom: 20px;
    color: rgb(67, 67, 67);
    width: 90%;
}
.second{
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
    color: rgb(67, 67, 67);
    width: 90%;
}
#form{
    padding: 8px 18px 8px 18px;
    margin-left: 33%;
    font-size: 18px;
    text-align: center;
    background-color: rgb(28, 2, 77);
    font-weight: bold;
    margin-top: 20px;
    
}
h5{
   margin-bottom: 20px;
   margin-top: 20px;
}

