#bag{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid mediumseagreen; */
    background-color: rgb(255, 255, 255);
   
}
#box{
    width: 36%;
    height: 500px;
    /* border: 1px solid greenyellow; */
    padding-left: 80px;
    background-color: rgb(240, 241, 247);
}


#allData {
    /* margin: auto; */
    width:100%;
    height: auto;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  
   
}
#allData>div {
    display: flex;
    height: 200px;
    width: 100%;
    
}

#allData>div>div{
    height: 100%;
    width: 33%;
}
div>img{
    width:70%;
    height: 70%;
}

h1 {
    text-align: center;
}

div>h3{
    padding-left: 10px;
}
div>p>s{
    padding-left: 10px;
}

div>button{
    margin-left: 10px;
    margin-bottom: 10px;
}

div>p{
    padding-left: 10px;
}
h2+p {
    display: flex;
    justify-content: center;
    font-family: calibri;
    color: blue;
    gap: 10px;
}
h2{
    text-align: center;
}


#header>h3>a{
    color: white;
}
  
#saveData{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 50px;
    width:100%;
    height: auto;
    /* gap:20px; */
    background-color: rgb(255, 255, 255);
   
}
#saveData>div{
    display: flex;
    height: 200px;
    width: 100%;
}

/* button{
   
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    background-color: white;
    
}
button:hover{
    background-color: rgb(27, 36, 51);
    color: white;
} */
h1{
    text-align: left;
    font-size: 1.95rem;
    font-weight: 700;
    line-height: 1em;
    padding-left:15px ;
}
h2{
    text-align: left;
    padding-left:15px ;
}
#done{
    border-top: 1px solid rgb(102, 100, 100);
    padding-bottom: 20px;
    width: 98%;
    height: 35px;
    background-color: rgb(240, 241, 247);
    
}
b{
    text-decoration:underline;
}
b:hover{
    color: rgb(0, 186, 242);
}
.sum{
    height: 20px;
    width: 100%;
    /* border: 1px solid red; */
    border-top: 1px solid rgb(83, 81, 81);
}

#paymentbtn{
    margin-top: 100px;
    background-color: white;
    height: 25%;
}

#zipbtn{
    background-color: white;
    margin-left: 120px;
   
}
#continue:hover{
   border: 0.17px dashed;
}
#logo{
    margin-left: 200px;
}
#bttn2{
    margin-left: 220px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    color: white;
    background-color:  rgb(41, 55, 80);
    padding: 10px 15px 10px 15px;
}

#continue{
    height: 35px;
    width:80px;
    text-align: center;
}
#shop{
    margin-left: 250px;
    

}
#shop:hover{
    color: aqua;
}
/* #bttn{
    margin-left: ;
} */

#bttn{
    border-radius: 20px;
    
    cursor: pointer;
    background-color: white;
    padding: 10px 18px 10px 18px;
}
#bttn:hover{
    background-color: rgb(27, 36, 51);
    color: white;
} 

#bttn2:hover{
    background-color: rgb(12, 16, 22);
    
}
#logo{
    border: 0ch;
    padding-top: 20px;
    background-color: white;
}
#logo1{
    border: 0ch;
    background-color: white;
}
#logo2{
    border: 0ch;
    background-color: white;
    
}
