#container{
    display: flex;; 
 }
 #one{
     height:1000px;
     width:20%;
     /* border:1px solid green; */
 }

 #two{
     
     width:70%;
     /* border:1px solid yellow; */
 }
 #monday{
     display:grid;
     grid-template-columns: repeat(3,1fr);
     gap:15px;
     background-color: rgb(245, 246, 248);

     margin:20px;
 }
 #monday img{
     size:80%;
     width:100%;
     height:250px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;
     background-color:white;

 }
 #tuesday{
     display:grid;
     grid-template-columns: repeat(3,1fr);
     gap:10px;
     background-color: rgb(245, 246, 248);

     margin:20px;
 }
 #tuesday img{
     size:80%;
     width:100%;
     height:250px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;
     background-color:white;

 }
 #wed{
     display:grid;
     
     grid-template-columns: repeat(3,1fr);
     gap:10px;
     background-color: rgb(245, 246, 248);

     margin:20px;
 }
 #wed img{
     size:80%;
     width:100%;
     height:250px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;
     background-color:white;

 }
 #thu{
     display:grid;
     grid-template-columns: repeat(3,1fr);
     gap:10px;
     background-color: rgb(245, 246, 248);

     margin:20px;
 }
 #thu img{
     size:80%;
     width:100%;
     height:250px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;
     background-color:white;

 }
 #fri{
     display:grid;
     grid-template-columns: repeat(3,1fr);
     gap:10px;
     background-color: rgb(245, 246, 248);

     margin:20px;
 }
 #fri img{
     size:80%;
     width:100%;
     height:250px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;
     background-color:white;

 }
 #sat{
     display:grid;
     grid-template-columns: repeat(3,1fr);
     gap:10px;
     background-color: rgb(245, 246, 248);

     margin:20px;
 }
 #sat img{
     size:80%;
     width:100%;
     height:250px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;
     background-color:white;

 }
 #sun{
     display:grid;
     grid-template-columns: repeat(3,1fr);
     gap:10px;
     background-color: rgb(245, 246, 248);

     margin:20px;
 }
 #sun img{
     size:80%;
     width:100%;
     height:250px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;
     background-color:white;

 }
 #mon{
     display:grid;
     grid-template-columns: repeat(3,1fr);
     gap:10px;
     background-color: rgb(245, 246, 248);

     margin:20px;
 }
 #mon img{
     size:80%;
     width:100%;
     height:250px;
     background-color:rgb(143, 142, 142);
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;
     background-color:white;

 }
 h2{
     /* size:200px; */
     font-size: 25px;
     color:rgb(83, 83, 83);
     margin-bottom:20px;
 }

 /* //nav */
 #categories {
display: grid;
color:rgb(87, 87, 87);
width: 85%;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: auto;
margin: auto;

font-size: 15px;
margin-bottom: 10px;
margin-top: -8px;
/* border:1px solid rgb(192, 190, 190) ; */
border-radius: 6px;
}
#catrgories>div:hover{

background-color: aqua;
}
#categories>div {
padding: 10px;
font-size: 14px;
cursor: pointer;
margin-bottom: 5px;
/* border:1px solid rgb(192, 190, 190) ; */
border-radius: 6px;



}

.dropdown-content {
display: none;
/* position: absolute; */
/* background-color: white; */
z-index: 1;
line-height: 20px;
margin-top: 11px;
margin-left:5px;
min-width: auto;

box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 5px;
/* border:1px solid rgb(192, 190, 190) ; */
}
#gap>div:hover{
width:30%;

background-color: rgb(233, 231, 231);
/* margin:auto; */
}

.drop-down:hover .dropdown-content {

display: block;
}


.dropdownflex>div {

width:90%;
justify-content:center ;
height: auto;
padding: 20px;
margin: 50px;
} 

.dropdownflex>div>div {

font-size:20px;
color: black;
gap:20px;
font-weight: 100;
}

.dropdownflex>div>h3 {
font-size: 1px;
}
.drop-down>div{
font-size:25px;
/* color:rgb(49, 49, 49); */
}
h1{
font-size: bold;
}